In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import io

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving 4 dataset.xlsx to 4 dataset.xlsx

In [ ]:
df = pd.read_excel("4 dataset.xlsx")

In [ ]:
df.head()

,SNO,MRD No.,D.O.A,D.O.D,AGE,GENDER,RURAL,TYPE OF ADMISSION-EMERGENCY/OPD,month year,DURATION OF STAY,...,CONGENITAL,UTI,NEURO CARDIOGENIC SYNCOPE,ORTHOSTATIC,INFECTIVE ENDOCARDITIS,DVT,CARDIOGENIC SHOCK,SHOCK,PULMONARY EMBOLISM,CHEST INFECTION
0,NaN,NaN,NaN,NaN,81.0,M,R,NaN,NaN,3.0,...,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0
1,2.0,234696.0,4/1/2017,NaN,65.0,NaN,R,E,Apr-17,5.0,...,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,0.0,0.0
2,3.0,234882.0,4/1/2017,NaN,53.0,M,NaN,NaN,Apr-17,NaN,...,0.0,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN
3,4.0,234635.0,4/1/2017,4/8/2017,67.0,NaN,U,E,NaN,8.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
4,NaN,234486.0,NaN,4/23/2017,60.0,F,U,E,Apr-17,23.0,...,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
df.shape

(15757, 56)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15757 entries, 0 to 15756
Data columns (total 56 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   SNO                              10999 non-null  float64
 1   MRD No.                          10969 non-null  float64
 2   D.O.A                            11058 non-null  object
 3   D.O.D                            10945 non-null  object
 4   AGE                              11038 non-null  float64
 5   GENDER                           10999 non-null  object
 6   RURAL                            11100 non-null  object
 7   TYPE OF ADMISSION-EMERGENCY/OPD  11117 non-null  object
 8   month year                       11015 non-null  object
 9   DURATION OF STAY                 11048 non-null  float64
 10  duration of intensive unit stay  11051 non-null  float64
 11  OUTCOME                          11017 non-null  object
 12  SMOKING                          10965 non-null  float64
 13  ALCOHOL                          10979 non-null  float64
 14  DM                               10982 non-null  float64
 15  HTN                              11111 non-null  float64
 16  CAD                              11027 non-null  float64
 17  PRIOR CMP                        10969 non-null  float64
 18  CKD                              11015 non-null  float64
 19  HB                               10909 non-null  object
 20  TLC                              10788 non-null  object
 21  PLATELETS                        10854 non-null  object
 22  GLUCOSE                          10489 non-null  object
 23  UREA                             10909 non-null  object
 24  CREATININE                       10928 non-null  object
 25  BNP                              5086 non-null   object
 26  RAISED CARDIAC ENZYMES           10886 non-null  float64
 27  EF                               9998 non-null   object
 28  SEVERE ANAEMIA                   11056 non-null  float64
 29  ANAEMIA                          11012 non-null  float64
 30  STABLE ANGINA                    11005 non-null  float64
 31  ACS                              11057 non-null  float64
 32  STEMI                            10942 non-null  float64
 33  ATYPICAL CHEST PAIN              11029 non-null  float64
 34  HEART FAILURE                    11042 non-null  float64
 35  HFREF                            11087 non-null  float64
 36  HFNEF                            11036 non-null  float64
 37  VALVULAR                         10966 non-null  float64
 38  CHB                              11107 non-null  float64
 39  SSS                              11170 non-null  float64
 40  AKI                              10950 non-null  float64
 41  CVA INFRACT                      11039 non-null  float64
 42  CVA BLEED                        10982 non-null  float64
 43  AF                               11057 non-null  float64
 44  VT                               10985 non-null  float64
 45  PSVT                             11136 non-null  float64
 46  CONGENITAL                       11041 non-null  float64
 47  UTI                              11040 non-null  float64
 48  NEURO CARDIOGENIC SYNCOPE        11004 non-null  float64
 49  ORTHOSTATIC                      10892 non-null  float64
 50  INFECTIVE ENDOCARDITIS           11073 non-null  float64
 51  DVT                              10961 non-null  float64
 52  CARDIOGENIC SHOCK                11117 non-null  float64
 53  SHOCK                            11006 non-null  float64
 54  PULMONARY EMBOLISM               11024 non-null  float64
 55  CHEST INFECTION                  11079 non-null  float64
dtypes: float64(41), object(15)
memory usage: 6.7+ MB

In [ ]:
df.isnull().sum()

SNO                                 4758
MRD No.                             4788
D.O.A                               4699
D.O.D                               4812
AGE                                 4719
GENDER                              4758
RURAL                               4657
TYPE OF ADMISSION-EMERGENCY/OPD     4640
month year                          4742
DURATION OF STAY                    4709
duration of intensive unit stay     4706
OUTCOME                             4740
SMOKING                             4792
ALCOHOL                             4778
DM                                  4775
HTN                                 4646
CAD                                 4730
PRIOR CMP                           4788
CKD                                 4742
HB                                  4848
TLC                                 4969
PLATELETS                           4903
GLUCOSE                             5268
UREA                                4848
CREATININE                          4829
BNP                                10671
RAISED CARDIAC ENZYMES              4871
EF                                  5759
SEVERE ANAEMIA                      4701
ANAEMIA                             4745
STABLE ANGINA                       4752
ACS                                 4700
STEMI                               4815
ATYPICAL CHEST PAIN                 4728
HEART FAILURE                       4715
HFREF                               4670
HFNEF                               4721
VALVULAR                            4791
CHB                                 4650
SSS                                 4587
AKI                                 4807
CVA INFRACT                         4718
CVA BLEED                           4775
AF                                  4700
VT                                  4772
PSVT                                4621
CONGENITAL                          4716
UTI                                 4717
NEURO CARDIOGENIC SYNCOPE           4753
ORTHOSTATIC                         4865
INFECTIVE ENDOCARDITIS              4684
DVT                                 4796
CARDIOGENIC SHOCK                   4640
SHOCK                               4751
PULMONARY EMBOLISM                  4733
CHEST INFECTION                     4678
dtype: int64

In [ ]:
df.isnull().sum()/df.shape[0]*100

SNO                                30.196103
MRD No.                            30.386495
D.O.A                              29.821667
D.O.D                              30.538808
AGE                                29.948594
GENDER                             30.196103
RURAL                              29.555118
TYPE OF ADMISSION-EMERGENCY/OPD    29.447230
month year                         30.094561
DURATION OF STAY                   29.885130
duration of intensive unit stay    29.866091
OUTCOME                            30.081868
SMOKING                            30.411880
ALCOHOL                            30.323031
DM                                 30.303992
HTN                                29.485308
CAD                                30.018405
PRIOR CMP                          30.386495
CKD                                30.094561
HB                                 30.767278
TLC                                31.535191
PLATELETS                          31.116329
GLUCOSE                            33.432760
UREA                               30.767278
CREATININE                         30.646697
BNP                                67.722282
RAISED CARDIAC ENZYMES             30.913245
EF                                 36.548835
SEVERE ANAEMIA                     29.834359
ANAEMIA                            30.113600
STABLE ANGINA                      30.158025
ACS                                29.828013
STEMI                              30.557847
ATYPICAL CHEST PAIN                30.005712
HEART FAILURE                      29.923209
HFREF                              29.637621
HFNEF                              29.961287
VALVULAR                           30.405534
CHB                                29.510694
SSS                                29.110871
AKI                                30.507076
CVA INFRACT                        29.942248
CVA BLEED                          30.303992
AF                                 29.828013
VT                                 30.284953
PSVT                               29.326648
CONGENITAL                         29.929555
UTI                                29.935902
NEURO CARDIOGENIC SYNCOPE          30.164371
ORTHOSTATIC                        30.875167
INFECTIVE ENDOCARDITIS             29.726471
DVT                                30.437266
CARDIOGENIC SHOCK                  29.447230
SHOCK                              30.151679
PULMONARY EMBOLISM                 30.037444
CHEST INFECTION                    29.688392
dtype: float64

In [ ]:
df.duplicated().sum()

0

In [ ]:
for i in df.select_dtypes(include="object").columns:
  print(df[i].value_counts())
  print("***"*10 )

D.O.A
25/01/2019    34
09/01/2018    32
04/02/2019    31
01/01/2018    30
28/03/2019    30
              ..
5/15/2018      1
8/21/2018      1
1/6/2019       1
5/17/2018      1
8/22/2018      1
Name: count, Length: 1167, dtype: int64
******************************
D.O.D
25/03/2019    35
09/01/2019    33
11/11/2017    32
06/03/2019    31
12/03/2019    30
              ..
1/1/2019       1
9/10/2018      1
19/11/2017     1
1/4/2019       1
4/1/2019       1
Name: count, Length: 1166, dtype: int64
******************************
GENDER
M    7004
F    3995
Name: count, dtype: int64
******************************
RURAL
U    8483
R    2617
Name: count, dtype: int64
******************************
TYPE OF ADMISSION-EMERGENCY/OPD
E    7755
O    3362
Name: count, dtype: int64
******************************
month year
Jan-19    614
Jan-18    565
Nov-17    554
Dec-18    547
Mar-19    539
Feb-19    527
Dec-17    523
Nov-18    495
Oct-18    489
Feb-18    460
Oct-17    460
Jul-17    436
Aug-18    435
Sep-18    435
Mar-18    421
Jun-18    418
Jun-17    415
May-17    415
Jul-18    414
May-18    410
Sep-17    405
Aug-17    359
Apr-18    347
Apr-17    332
Name: count, dtype: int64
******************************
OUTCOME
DISCHARGE    9669
EXPIRY        750
DAMA          598
Name: count, dtype: int64
******************************
HB
13.6    216
12.6    212
12.4    210
12.9    208
13.3    206
       ...
19.1      1
21.2      1
3.9       1
4.7       1
20        1
Name: count, Length: 171, dtype: int64
******************************
TLC
8.4      149
7.9      147
8.6      145
8.9      145
9.4      143
        ...
45.7       1
73.1       1
100        1
47.5       1
11.02      1
Name: count, Length: 423, dtype: int64
******************************
PLATELETS
150     167
140      76
220      66
226      66
178      64
       ...
0.58      1
636       1
23        1
839       1
571       1
Name: count, Length: 622, dtype: int64
******************************
GLUCOSE
110    191
96     154
98     151
102    149
108    146
      ...
22       1
404      1
394      1
514      1
424      1
Name: count, Length: 491, dtype: int64
******************************
UREA
27      318
25      318
24      316
22      313
26      300
       ...
249       1
94.1      1
303       1
202       1
207       1
Name: count, Length: 303, dtype: int64
******************************
CREATININE
0.8      1049
0.7      1015
0.9       907
0.6       676
1         635
         ...
6.08        1
3.53        1
5.64        1
9.77        1
1.363       1
Name: count, Length: 421, dtype: int64
******************************
BNP
EMPTY    465
5         76
5000      70
78        55
790       23
        ...
284        1
904        1
4640       1
26.6       1
832        1
Name: count, Length: 1180, dtype: int64
******************************
EF
60       3073
30        644
35        634
45        562
32        448
40        440
25        418
28        408
48        362
38        348
42        339
50        321
36        292
34        251
20        238
22        193
46        134
55        129
52        114
18         90
26         79
EMPTY      69
37         67
44         65
24         50
54         44
33         36
27         28
16         23
58         21
47         14
56         13
43         13
39          8
15          7
53          4
23          3
29          3
31          3
19          2
14          2
59          2
38.4        1
57          1
41          1
21          1
Name: count, dtype: int64
******************************

In [ ]:
df.isnull().sum()

SNO                                    0
MRD No.                                0
D.O.A                               4699
D.O.D                               4812
AGE                                    0
GENDER                              4758
RURAL                               4657
TYPE OF ADMISSION-EMERGENCY/OPD     4640
month year                          4742
DURATION OF STAY                       0
duration of intensive unit stay     4706
OUTCOME                             4740
SMOKING                             4792
ALCOHOL                             4778
DM                                  4775
HTN                                 4646
CAD                                 4730
PRIOR CMP                           4788
CKD                                 4742
HB                                  4848
TLC                                 4969
PLATELETS                           4903
GLUCOSE                             5268
UREA                                4848
CREATININE                          4829
BNP                                10671
RAISED CARDIAC ENZYMES              4871
EF                                  5759
SEVERE ANAEMIA                      4701
ANAEMIA                             4745
STABLE ANGINA                       4752
ACS                                 4700
STEMI                               4815
ATYPICAL CHEST PAIN                 4728
HEART FAILURE                       4715
HFREF                               4670
HFNEF                               4721
VALVULAR                            4791
CHB                                 4650
SSS                                 4587
AKI                                 4807
CVA INFRACT                         4718
CVA BLEED                           4775
AF                                  4700
VT                                  4772
PSVT                                4621
CONGENITAL                             0
UTI                                 4717
NEURO CARDIOGENIC SYNCOPE           4753
ORTHOSTATIC                         4865
INFECTIVE ENDOCARDITIS              4684
DVT                                 4796
CARDIOGENIC SHOCK                   4640
SHOCK                               4751
PULMONARY EMBOLISM                  4733
CHEST INFECTION                     4678
dtype: int64

In [ ]:
for i in ["MRD No.","AGE","SNO","DURATION OF STAY","CONGENITAL","UTI"]:
  df[i].fillna(df[i].median(),inplace=True)

<ipython-input-26-482d1216347c>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[i].fillna(df[i].median(),inplace=True)

In [ ]:
from sklearn.impute import KNNImputer
impute= KNNImputer()

In [ ]:
for i in df.select_dtypes(include="number").columns:
  df[i]=impute.fit_transform(df[[i]])

In [ ]:
df.isnull().sum()

SNO                                    0
MRD No.                                0
D.O.A                               4699
D.O.D                               4812
AGE                                    0
GENDER                              4758
RURAL                               4657
TYPE OF ADMISSION-EMERGENCY/OPD     4640
month year                          4742
DURATION OF STAY                       0
duration of intensive unit stay        0
OUTCOME                             4740
SMOKING                                0
ALCOHOL                                0
DM                                     0
HTN                                    0
CAD                                    0
PRIOR CMP                              0
CKD                                    0
HB                                  4848
TLC                                 4969
PLATELETS                           4903
GLUCOSE                             5268
UREA                                4848
CREATININE                          4829
BNP                                10671
RAISED CARDIAC ENZYMES                 0
EF                                  5759
SEVERE ANAEMIA                         0
ANAEMIA                                0
STABLE ANGINA                          0
ACS                                    0
STEMI                                  0
ATYPICAL CHEST PAIN                    0
HEART FAILURE                          0
HFREF                                  0
HFNEF                                  0
VALVULAR                               0
CHB                                    0
SSS                                    0
AKI                                    0
CVA INFRACT                            0
CVA BLEED                              0
AF                                     0
VT                                     0
PSVT                                   0
CONGENITAL                             0
UTI                                    0
NEURO CARDIOGENIC SYNCOPE              0
ORTHOSTATIC                            0
INFECTIVE ENDOCARDITIS                 0
DVT                                    0
CARDIOGENIC SHOCK                      0
SHOCK                                  0
PULMONARY EMBOLISM                     0
CHEST INFECTION                        0
dtype: int64

In [ ]:
for i in ["D.O.A","D.O.B",]GENDER
RURAL
TYPE OF ADMISSION-EMERGENCY/OPD
month year
DURATION OF STAY
  df[i].fillna(df[i].median(),inplace=True)